<script type="text/javascript">
// This isn't meant to be well-written JavaScript.
// It is meant to be a hackable, trainable moment.
// I've tried to document best that I can.
// Lot's of cleanup needed

// Reset the cookie manually
//Cookies.expire('token')

var $yaml_store = "";

// When you fork, make sure ad add your org / user and repo name to _config.yml
var $org = '{{ site.github_user }}';
var $repo = '{{ site.github_repo }}';

function loadpage() {
    var $oAuthToken = document.getElementById('auth-token').value;

    if ($oAuthToken != '') {

        // Setting a cookie value
        Cookies.set('token', $oAuthToken);

        // Set with expiration
        // Cookies.set('token', $oAuthToken, { expires: '01/01/2017' });

    }
    showForm();
}

function logout(){
  Cookies.expire('token');
  window.scrollTo(0, 0);
  location.reload();
}

function showNewForm(){
  $('.new-api-form-control').toggle();
}

$(function() {
    showForm();
});

function showForm(){
  // Grab the token from cookie
    $oAuthToken = Cookies.get('token');
    // If we have a token!
    if ($oAuthToken) {
        // Setup the Github connection
        var github = new Github({ token: $oAuthToken, auth: "oauth" });
        var repo = github.getRepo($org, $repo);

        // Le'ts try to just get the Github Repo tree
        repo.getTree('gh-pages?recursive=true', function(err, tree) {

            if (err == null && $oAuthToken != null) {
                $('#api-edit-form').show();
                $('.login-form').hide();

            } else {
                // If error we DO NOT have access
                alert('We have NO access to API & repo!');
            }

        });

    }else{
      $('#api-edit-form').hide();
      $('.login-form').show();
    }
}

function saveNewAPIData(form_id) {
    $yaml_store = {};
    $('.data-element-' + form_id).each(function(i, elem) {
        $name = $(elem).attr('name');
        $value = $(elem).val();
        $yaml_store[$name] = $value;
    })

    //Get success criteria
    $yaml_store['success_criteria'] = [];
    $('.data-element-' + form_id + '-sc input').each(function(i, elem) {
      console.log($(elem).checked);
      $yaml_store['success_criteria'].push({
        completed: $(elem).prop('checked') ? 'true' : 'false',
        stage: $(elem).attr('data-stage'),
        index: $(elem).attr('data-step'),
        criteria: $("label[for='" +$(elem).attr('id')+"']").text()
      });
    })

    console.log($yaml_store);

    $yaml_dump = jsyaml.safeDump($yaml_store);
    console.log('yamldump = ', $yaml_dump);
    // // Grab the token from cookie
    $oAuthToken = Cookies.get('token');

    var github = new Github({ token: $oAuthToken, auth: "oauth" });
    var repo = github.getRepo($org, $repo);
    $writepath = '_data/apis/' + $yaml_store["name"] + '.yaml'
    
    repo.getTree('gh-pages?recursive=true', function(err, tree) {
        var isNew = true;
        $.each(tree, function(treeKey, treeValue) {
            $path = treeValue['path'];
            $sha = treeValue['sha'];
            if ($path == $writepath) {
                repo.writemanual('gh-pages', $writepath, $yaml_dump, 'Save', $sha, function(err) {
                  console.log(err);
                });
                isNew = false;
                alert("saved " + $writepath + '. Note: site may take up to 5 minutes to show changes.');
                window.scrollTo(0, 0);
                location.reload();
            }
        });
        if(isNew) {
          blob = repo.postBlob($yaml_dump, function(err, sha){
            repo.writemanual('gh-pages', $writepath, $yaml_dump, 'Save', sha, function(err) {
              console.log(err);
            });
            alert("saved " + $writepath + '. Note: site may take up to 5 minutes to show changes.');
            window.scrollTo(0, 0);
            location.reload();
          });
        }
    });
}

function deleteAPIData(api){
  if (!confirm("Are you sure you want to delete this API from the scorecard?")) {
    return;
  }
  $oAuthToken = Cookies.get('token');

  var github = new Github({ token: $oAuthToken, auth: "oauth" });
  var repo = github.getRepo($org, $repo);
  $writepath = '_data/apis/' + api + '.yaml'
  
  // repo.delete('gh-pages', $writepath, function(err, s){
  //   console.log(err);
  //   if(!err){
  //     alert($writepath + ' deleted.');
  //   }
  // })

  repo.getTree('gh-pages?recursive=true', function(err, tree) {
    $.each(tree, function(treeKey, treeValue) {
        $path = treeValue['path'];
        $sha = treeValue['sha'];
        if ($path == $writepath) {
            console.log('deleting', $sha);
            repo.deletemanual('gh-pages', $writepath, $sha, function(err) {
              console.log(err);
            });
            if(!err){
              alert("Deleted. It may take 5 minutes for this to be displayed");
              window.scrollTo(0, 0);
              location.reload();
            }
        }
    });
  });
}


$(function() {
  let $saveButton = $('.save-button')
  $saveButton.attr('disabled', 'disabled');
  $(".edit-api-form :input").change(function() {
      $(this).closest('form').find($saveButton).removeAttr( "disabled");
  });
  $(".edit-api-form :input").keyup(function() {
      $(this).closest('form').find($saveButton).removeAttr( "disabled");
  });
});
</script>