{% comment %}{% assign form_id = 'new-api-data' %}{% endcomment %}
{% assign class_name = 'data-element-' | append: form_id %}

<form class="usa-form-large edit-api-form" id='{{form_id}}'>
  <fieldset>
    {% if form_id == 'new-api' %}
      <legend>New API</legend>
    {% else %}
      <legend>Edit {{api_data.name}}</legend>
    {% endif %}
    {% for field in site.data.form_template %}
      {% assign id=field.field_name %}
      {% if field.type != 'success-criteria' %}
        <label for="{{form_id}}-{{ id }}">{{field.label}} <span class="usa-input-label-helper"></span></label>
      {% endif %}
      {% if field.type == 'textarea' %}
        <textarea id="{{form_id}}-{{ id }}" class='{{class_name}}' name="{{field.field_name}}">{{api_data[field.field_name]}}</textarea>
      
      {% elsif field.type == 'select' %}
        <select id="{{form_id}}-{{id}}" name="{{id}}" class='{{class_name}}'>
          <option value>- Select -</option>
          {% for option in site.data[field.choices] %}
            {% if option.alt %}
              {% assign label = option.alt %}
            {% else %}
              {% assign label = option.name %}
            {% endif %}
            {% if option.name == api_data[id] %}
              <option selected value="{{option.name}}">{{label}}</option>
            {% else %}
              <option value="{{option.name}}">{{label}}</option>
            {% endif %}
          {% endfor %}
        </select>
      {% elsif field.type == 'success-criteria' %}
        {% assign sc_class_name = class_name | append: '-sc' %}
        <fieldset class='{{sc_class_name}}'>
          <legend class='pb1 pt2'>
            Success Criteria
          </legend>
            {% for stage in site.data.stages %}
              {% assign sc_accordian_id = sc_class_name | append: stage.name %}
              <div class='usa-accordion-bordered'>
                <button class="usa-accordion-button"
                  aria-expanded="false"
                  aria-controls="{{sc_accordian_id}}">
                  {{stage.name}}
                </button>
                <div id='{{sc_accordian_id}}' class='usa-accordion-content'>
                  <fieldset>
                    <legend>
                      {{ stage.name }}
                    </legend>
                    {% for step in stage.steps %}
                      {% assign step_id = sc_class_name | append: stage.name | append: forloop.index %}
                      {% assign check_count =  api_data['success_criteria'] | where: 'stage', stage.name | where: 'index', step.index | where: 'completed', 'true' | size  %}
                      
                      {% if check_count == 1 %}
                        {% assign checked = 'checked' %}
                      {% else %}
                        {% assign checked = '' %}
                      {% endif %}
                      <input data-stage="{{stage.name}}" data-step="{{step.index}}" id='{{step_id}}' class='{{sc_class_name}}' type="checkbox" name="{{sc_class_name}}" value="Bike" {{checked}}>
                      <label for='{{step_id}}' class='checkbox-label'>{{step.text}}</label>
                    {% endfor %}
                  </fieldset>
                </div>
              </div>
            {% endfor %}
        </fieldset>
      {% else %}
        <input id="{{form_id}}-{{field.field_name}}" name="{{field.field_name}}" type="{{field.type}}" class='{{class_name}}' value="{{api_data[field.field_name]}}">
      {% endif %}
    {% endfor %}
  </fieldset>
  <input class='save-button' type="button" value="Save" onclick="saveNewAPIData('{{form_id}}');">
  {% if form_id != 'new-api' %}
    <input class='usa-button-red' type="button" value="Delete" onclick="deleteAPIData('{{api_data.name}}');">
  {% endif %}
</form>