<footer class="usa-footer usa-footer-medium" role="contentinfo">
    <div class="usa-grid">
        <div class="usa-footer-logo usa-width-one-third"><a href="https://www.va.gov"><img src="/static/media/lighthouseVaLogo.1dc26d71.png" alt="Department of Veterans Affairs"></a></div>
        <div class="usa-footer-links usa-width-two-thirds">
            <ul class="usa-unstyled-list">
                <li><a href="https://github.com/department-of-veterans-affairs/VA-Micropurchase-Repo">Micro-consulting</a></li>
                <li><a href="https://www.section508.va.gov/">Accessibility</a></li>
                <li><a href="https://www.va.gov/webpolicylinks.asp">Web Policies</a></li>
                <li><a href="https://www.va.gov/privacy/">Privacy</a></li>
            </ul>
        </div>
    </div>
</footer>