{% comment %}Figure out the number of table rows needed{% endcomment %}
{% assign row_num = 0 %}
{% for stage in site.data.stages %}
  {% assign cur_count = 0 %}
  {% for api_hash in site.data.apis %}
    {% assign api_data = api_hash[1] %}
    {% if api_data.stage == stage.name %}
      {%assign cur_count = cur_count | plus: 1 %}
    {% endif %}
  {% endfor %}
  {% if cur_count > row_num %}
    {% assign row_num = cur_count %}
  {% endif %}
{% endfor %}
{% assign row_num = row_num | minus: 1 %}



<table style='width: 100%' class='status-table'>
  <thead>
    <tr>
      {% for stage in site.data.stages %}
        {% assign col_count = site.data.stages | size %}
        {% assign col_width = 100 | divided_by: col_count %}
        <th scope='col' style='width: {{ col_width }}%'>
          <a href="#stage-{{stage.name | replace: ' ', '' | downcase }}" class='no-link-style'>
            <div style="height:100%;width:100%" class='p1'>
              {{ stage.name }}
            </div>
          </a>
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class='' style='border: none !important'>
        {% assign displayed = '' %}
        {% for i in (0..row_num) %}
          <tr style='border: none !important'>
            {% for stage in site.data.stages %}
              <td style='border: none !important'>
                {% for api_hash in site.data.apis %}
                
                {% assign api_data = api_hash[1] %}
                {% assign status = site.data.statuses | where:'name', api_data.status | first %}
                {% if api_data.stage == stage.name %}
                  {% if displayed contains api_data %}
                  {% else %}
                    {% assign displayed = displayed | prepend: api_data %}
                    <div style='float:left' class='mr1'>
                      <a href="#api-{{api_data.name | replace: ' ', '' | downcase }}" class='no-link-style'>
                        <img src="{{status.image | relative_url}}" alt="{{status.alt}}" title="{{status.alt}}" width='25px' align='top'>
                      </a>
                    </div>
                    <div class='status-table-api-name'>
                      <a href="#api-{{api_data.name | replace: ' ', '' | downcase }}" class='no-link-style'>{{ api_data.name }}</a>
                    </div>
                    {% break %}                
                  {% endif %}
                {% endif %}

              {% endfor %}
              </td>
            {% endfor %}
          </tr> 
        {% endfor %}
  </tbody>
</table>

<div style='width: 100%' class='status-table-mobile'>
  {% for stage in site.data.stages %}
    <h4>
      <a href="#stage-{{stage.name | replace: ' ', '' | downcase }}" class='no-link-style'>{{ stage.name }}</a>
    </h4>
    <ul class='unstyled-list'>
      {% for api_hash in site.data.apis %}
                  
        {% assign api_data = api_hash[1] %}
        {% assign status = site.data.statuses | where:'name', api_data.status | first %}
        {% if api_data.stage == stage.name %}
          <li>
            <div style='float:left' class='mr1'>
              <img src="{{status.image | relative_url}}" alt="{{status.alt}}" title="{{status.alt}}" width='25px' align='top'>
            </div>
            <div>
              <a href="#api-{{api_data.name | replace: ' ', '' | downcase }}" class='no-link-style'>{{ api_data.name }}</a>
            </div>
          </li>
        {% endif %}

      {% endfor %}
    </ul>
  {% endfor %}
</div>


<table class='legend-table'>
  <thead>
    <tr>
      <th colspan="2" scope="col">
        Legend
      </th>
    </tr>
  </thead>
  <tbody>
    {% for status in site.data.statuses %}
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod == 1 %}
        <tr>
      {% endif %}
      <td>
        <div style='float:left' class='mr1'>
          <img src="{{status.image | relative_url}}" alt="{{status.alt}}" title="{{status.alt}}" width='25px' align='top'>
        </div>
        <div>
          {{ status.alt }}
        </div>
      </td>
      {% if mod == 0 %}
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>