---
# Only the main Sass file needs front matter (the dashes are enough)
---
/*! uswds @version */

// Vendor -------------- //
@import 'core/variables-vendor';
@import 'lib/bourbon';
@import 'lib/neat';
@import 'lib/normalize';

// Core -------------- //
@import 'core/variables';
@import 'core/fonts';
@import 'core/grid';
@import 'core/utilities';
@import 'core/base';

// Elements -------------- //
// Styles basic HTML elements
@import 'elements/buttons';
@import 'elements/embed';
@import 'elements/figure';
@import 'elements/inputs';
@import 'elements/labels';
@import 'elements/list';
@import 'elements/table';
@import 'elements/typography';

// Components -------------- //
@import 'components/accordions';
@import 'components/alerts';
@import 'components/banner';
@import 'components/footer';
@import 'components/forms';
@import 'components/graphic-list';
@import 'components/header';
@import 'components/hero';
@import 'components/layout';
@import 'components/media-block';
@import 'components/navigation';
@import 'components/search';
@import 'components/section';
@import 'components/sidenav';
@import 'components/skipnav';

.status-green{
  width: 100%;
  height: 25px;
  background-color: green;
  margin: 10px;
  color: green;
}

.status-yellow{
  width: 50%;
  height: 25px;
  background-color: yellow;
  margin: 10px;
  color: yellow;
}

.status-red{
  width: 25%;
  height: 25px;
  background-color: red;
  margin: 10px;
  color: red;
}

.normal-weight{
  font-weight: 300;
}

.unstyled-list{
  list-style: none;
}
