---
layout: documentation
type: edit
title: Edit APIs - VA API Scorecard 
---
{% include admin_js.html %}
<h2>Edit APIs</h2>
<div class="login-form" style='display:none;'>
  <p>To edit the scorecard, you will need to get a GitHub OAuth token.
    <h4>Getting a GitHub token:</h4>
    <ol>
      <li>1. Go to GitHub's <strong>Personal access tokens</strong> in settings.</li>
      <li>2. Click <strong>Generate new token</strong></li>
      <li>3. Enter a token description</li>
      <li>4. Select the <strong>Repo</strong> checkbox</li>
      <li>5. Click <strong>Generate</strong></li>
      <li>Select <strong>Generate</strong></li>
    </ol>
  </p>
<p>Get started at <a href="https://github.com/settings/tokens" target="_blank">GitHub's Personal access tokens page</a>.</p>
  <table width="100%" border="0" cellpadding="3" id="token">
      <tr>
        <td align="right"><a href="https://github.com/settings/tokens" target="_blank"><strong>Github Personal Auth Token:</strong></a></td>
        <td align="left"><input type="password" name="auth-token" id="auth-token" value="" size="50" /></td>
        <td align="right"><input type="button" name="loadpage" value="Load Data From YAML" onclick="loadpage();" /></td>
      </tr>
  </table>
</div>

<div id="api-edit-form">
  <p>
    You can use the following forms to edit the API's status and various other data points that appear on the main page. <strong>Note: changes may take up to five minutes to show on the main page as the site is automatically rebuilt when changes are made.</strong>
  </p>
  <div class="clearfix">
    <div class="m1 right">
      <button class='usa-button-secondary' onclick='logout();'>Log out</button>
    </div>
  </div>
  {% for api_hash in site.data.apis %}
    {% assign api_data = api_hash[1] %}
    {% include edit_api.html api_data=api_hash %}
  {% endfor %}


  <div class="clearfix">
    <div class="m1 right">
      <button class='usa-button new-form-button new-api-form-control' onclick='showNewForm();'>Add new API</button>
      <button class='usa-button-secondary new-form-button new-api-form-control' style='display: none;' onclick='showNewForm();'>Cancel</button>
    </div>
  </div>
  {% assign form_id='new-api' %}
  {% assign api_data=site.data.blank_api %}
  <div class="new-api-form-control" style='display:none;'>
    {% include api_edit_form.html form_id=form_id %}
  </div>
</div>
