---
layout: documentation
title: Edit APIs - VA API Scorecard 
---
{% include admin_js.html %}
<h3>VA API Scorecard</h3>
<p>
  This is the editor for this micro application, and will load the yaml from _data/store.yaml if you have permission to this site, which can then be <a href="/github-micro-tool-yaml/">viewed by going back to home page</a>.
</p>
<table width="100%" border="0" cellpadding="3" id="token">
    <tr>
      <td align="right"><a href="https://github.com/settings/tokens" target="_blank"><strong>Github Personal Auth Token:</strong></a></td>
      <td align="left"><input type="password" name="auth-token" id="auth-token" value="" size="50" /></td>
      <td align="right"><input type="button" name="loadpage" value="Load Data From YAML" onclick="loadpage();" /></td>
    </tr>
</table>
<table width="100%" border="0" cellpadding="3" id="editor"></table>
<center><input style="display: none;" type="button" name="SaveYAML" id="SaveYAML" value="Save YAML" onclick="saveYAMLStore();" /></center>
<p><br />Once you have a valid Github OAuth toke entered into the text box above, the page will load, and you should be able to save any changes to the underlying Github repository. Making for a completely self-contained, interactive web application, that can be used for any number of purposes.
</p>

{% for api_hash in site.data.apis %}
  {% assign api_data = api_hash[1] %}
  {% include edit_api.html api_data=api_hash %}
{% endfor %}

{% assign form_id='new-api' %}
{% assign api_data=site.data.blank_api %}
{% include api_edit_form.html form_id=form_id %}


