---
layout: documentation
title: Edit APIs - VA API Scorecard 
---
{% include admin_js.html %}
<h2>Edit APIs</h2>
<div class="login-form" style='display:none;'>
  <p>Once you have a valid Github OAuth token entered into the text box below, the page will allow you to edit the api's. Without a valid API token, your changes will not be saved.
    <h4>How to get a token</h4>
    <ol>
      <li>Go to <a href="https://github.com/settings/tokens" target="_blank"><strong>Github Personal Auth Token</strong></a></li>
      <li>Click 'Generate new token'</li>
      <li>Enter a token description</li>
      <li>Select 'Repo' checkboxes</li>
      <li>Select 'Generate'</li>
    </ol>
  </p>
  <table width="100%" border="0" cellpadding="3" id="token">
      <tr>
        <td align="right"><a href="https://github.com/settings/tokens" target="_blank"><strong>Github Personal Auth Token:</strong></a></td>
        <td align="left"><input type="password" name="auth-token" id="auth-token" value="" size="50" /></td>
        <td align="right"><input type="button" name="loadpage" value="Load Data From YAML" onclick="loadpage();" /></td>
      </tr>
  </table>
</div>

<div id="api-edit-form">
  <p>
    You can use the following forms to edit the API's status and various other data points that appear on the main page. <strong>Note: changes may take up to five minutes to show on the main page as the site is automatically rebuilt when changes are made.</strong>
  </p>
  <div class="clearfix">
    <div class="m1 right">
      <button class='usa-button-secondary' onclick='logout();'>Log out</button>
    </div>
  </div>
  {% for api_hash in site.data.apis %}
    {% assign api_data = api_hash[1] %}
    {% include edit_api.html api_data=api_hash %}
  {% endfor %}


  <div class="clearfix">
    <div class="m1 right">
      <button class='usa-button new-form-button new-api-form-control' onclick='showNewForm();'>Add new API</button>
      <button class='usa-button-secondary new-form-button new-api-form-control' style='display: none;' onclick='showNewForm();'>Cancel</button>
    </div>
  </div>
  {% assign form_id='new-api' %}
  {% assign api_data=site.data.blank_api %}
  <div class="new-api-form-control" style='display:none;'>
    {% include api_edit_form.html form_id=form_id %}
  </div>
</div>
